{{#partial "contenido"}}

<form method="post" action="/altaEgresos" style="margin: 25px">

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Documento Comercial</label>
        </div>
        <div class="form-group col-md-4">
            <select name="tipoDocumento" id="inputDocComercial" class="form-control">
                <option selected></option>
                {{#each documentos}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="text" name="identificadorDocumento" class="form-control" placeholder="Identificador del Documento" style="margin-left: 35px;" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputMedioDePago">Medio de Pago</label>
        </div>
        <div class="form-group col-md-4">
            <select name="medios" id="inputMedioDePago" class="form-control">
                <option selected></option>
                {{#each medios}}
                    <option value="{{id}}">{{descripcion}} {{identificador}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Moneda</label>
        </div>
        <div class="form-group col-md-4">
            <select name="moneda" id="inputMoneda" class="form-control">
                <option selected></option>
                {{#each monedas}}
                    <option value="{{description}}">{{symbol}} {{id}} {{description}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Items</label>
        </div>
        <div class="form-group col-md-4">
            <select name="items" id="inputItems" class="form-control" multiple>
                <option selected></option>
                {{#each items}}
                    <option value="{{id}}">{{cantidad}} {{producto.descripcion}} {{precioUnitario}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Fecha</label>
        </div>
        <div class="form-group col-md-4">
            <input type="date" name="fecha" class="form-control" placeholder="Cantidad" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Requiere Presupuesto?</label>
        </div>
        <div class="form-group col-md-0.5" style="margin-right: 0;">
            <input type="checkbox" name="requierePresu" id="checkboxPresu" value="option1" style="height: 25px; width: 25px; outline-color: rgba(73, 73, 255, 0.973);">
        </div>
        <div class="form-group col-md-8" style="margin-left: 0; font-size: 12px; color: cornflowerblue;">
            <p>(si el egreso requiere presupuestos, estos deben agregarse en la ventana de modificación, luego de haber sido creados)</p>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Usuarie/s Revisor/es</label>
        </div>
        <div class="form-group col-md-4">
            <select id="inputusuarios" name="usuarios" class="form-control" multiple>
                <option selected></option>
                {{#each usuarios}}
                    <option value="{{id}}">{{nombreUsuario}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Criterio de Selección</label>
                </div>
                <div class="form-group col-md-4">
                    <select id="inputCriterio" name="criterio" class="form-control">
                        <option selected></option>
                        <option value="Presupuesto de menor valor">Presupuesto de menor valor</option>
                        <option value="Presupuesto de mayor valor">Presupuesto de mayor valor</option>
                    </select>
                </div>
        </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Etiqueta</label>
        </div>
        <div class="form-group col-md-4">
            <select id="inputEtiquetas" name="etiquetas" class="form-control" multiple>
                <option selected></option>
                {{#each etiquetas}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Entidad</label>
        </div>
        <div class="form-group col-md-4">
            <select id="inputEntidad" name="entidad" class="form-control">
                <option selected></option>
                {{#each entidades}}
                    <option value="{{id}}">{{nombreFicticio}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn btn-outline-primary btn-block" data-loading-text=""><i class="fas fa-sign-in-alt"></i> Crear </button>
</form>

{{/partial}}

{{>layout.hbs}}